@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

.app {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	font-family: "Poppins";
	.navigation {
		width: 20%;
		height: 100%;
		background-color: #353941;
		color: #e3e3e3;
		padding: 16px 16px;

		.link {
			color: #5f85db;
			text-decoration: none;
			transition: 0.3s all ease;
			&:hover {
				color: #e3e3e3;
				&.yellow {
					color: #ffce00;
				}
				&.orange {
					color: rgb(252, 143, 0);
				}
			}
		}
	}
	.content {
		width: 80%;
		height: 100%;
		background-color: #26282b;
		position: relative;

		.navbar {
			background-color: #26282b !important;
			position: relative;
			&.on-yellow {
				&::after {
					width: 10%;
				}
			}
			&.on-white {
				&::after {
					width: 20%;
				}
			}
			&.on-orange {
				&::after {
					width: 30%;
				}
			}
			&::after {
				content: "";
				width: 100%;
				height: 3px;
				position: absolute;
				left: 0;
				bottom: 0;
				background-image: linear-gradient(319deg, #efd002 0%, #31b74a 37%, #442ce0 100%);
				transition: 0.8s all ease;
			}
		}
		.yellow-screen,
		.white-screen,
		.orange-screen,
		.page-not-found {
			width: 100%;
			height: calc(100% - 56px);
		}
		.yellow-screen {
			padding: 30px 0;
			display: flex;
			align-items: center;
			flex-direction: column;
			color: #e2e2e2;
			.bg {
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				&:nth-child(1) {
					clip-path: polygon(100% 78%, 40% 100%, 100% 100%);
					background-color: rgb(255, 174, 0);
					z-index: 4;
				}
				&:nth-child(2) {
					clip-path: polygon(100% 68%, 31% 100%, 100% 100%);
					background-color: rgb(255, 208, 0);
					z-index: 3;
				}
				&:nth-child(3) {
					clip-path: polygon(100% 62%, 21% 100%, 100% 100%);
					background-color: rgb(255, 225, 90);
				}
			}

			h1 {
				width: 150px;
				text-align: center;
				position: relative;
				left: -100%;
				animation: slideIn 1s 0.5s forwards;
			}
			p {
				width: 60%;
			}
			.btn {
				display: block;
				width: 200px;
				margin: 0 auto;
				padding: 0px;
				font-weight: 700;
				text-transform: uppercase;
				line-height: 40px;
				border-radius: 0;
				color: black;
				border: 2px solid #26282b;
				box-shadow: none;
				background-color: rgb(255, 208, 0);
				background-position: 100% 0%;
				background-size: 200% 100%;
				transition: all 0.5s;

				&:hover {
					background-position: 0% 50%;
					background-image: linear-gradient(to right, #26282b 50%, transparent 50%);
					color: #e3e3e3;
					box-shadow: 3px 3px rgba($color: #000000, $alpha: 0.25);
				}
			}
		}
		.white-screen {
			background-color: #e3e3e3;
			display: grid;
			grid-template-columns: auto;
			grid-template-rows: auto;
			.bg-back,
			.bg-front {
				width: 100%;
				height: calc(100% - 56px);
				position: absolute;
			}
			.bg-front {
				z-index: 1;
				background-color: rgb(76, 65, 225);
				clip-path: polygon(80% 86%, 23% 100%, 100% 100%, 100% 64%);
			}
			.bg-back {
				z-index: 0;
				background-color: rgb(58, 33, 201);
				clip-path: polygon(70% 81%, 23% 100%, 100% 100%, 100% 56%);
			}
			.container {
				display: grid;
				grid-template-columns: 50% auto;
				height: auto;
				align-self: center;
				margin: 0 50px;
				z-index: 2;
				.left {
					h1 {
						font-size: 2.7rem;
						font-weight: 800;
						color: white;
						overflow: hidden;
						background: repeating-linear-gradient(
							124deg,
							#ff2400,
							#e8461d,
							#e8781d,
							#a0b10b,
							#1ea325,
							#09c7c7,
							#2060b3,
							#953ae0,
							#dd00f3
						);
						background-size: 800vw;
						-webkit-text-fill-color: transparent;
						-webkit-background-clip: text;
						background-clip: text;
						animation: colorShift 15s ease infinite;
						position: relative;
						span {
							&::before {
								content: "";
								position: absolute;
								height: 3px;
								width: 90px;
								background-color: rgb(58, 33, 201);
								bottom: 0;
								margin-left: 180px;
								transition: all 0.4s ease;
								transform: translateX(-100%);
							}
							&:hover {
								&::before {
									width: 0px;
								}
								cursor: pointer;
							}
						}
					}
				}
				@keyframes colorShift {
					0% {
						background-position: 0% 52%;
					}
					50% {
						background-position: 80% 10%;
					}
					100% {
						background-position: 0% 52%;
					}
				}
				.right {
					ul {
						list-style-type: none;
						perspective: 1000px;
						li {
							display: grid;
							grid-template-columns: 20% auto;
							border-radius: 10px;
							padding: 15px;
							cursor: pointer;
							transform: rotateY(-22deg) rotateX(15deg);
							position: absolute;
							border-bottom: 5px solid rgba($color: #000000, $alpha: 0.2);
							mix-blend-mode: hard-light;

							&:hover {
								transform: rotateY(-18deg) rotateX(10deg) scale(1.02);
								transition: transform 0.4s ease-out;
								z-index: 2 !important;
								mix-blend-mode: normal;
							}

							&:nth-child(1) {
								background-color: rgb(64, 137, 196);
								top: -105px;
								z-index: 2;
							}
							&:nth-child(2) {
								background-color: rgb(24, 155, 100);
								z-index: 1;
							}
							&:nth-child(3) {
								background-color: rgb(230, 142, 43);
								top: 105px;
							}

							img {
								width: 70px;
								height: auto;
								margin-top: 15px;
							}
							span {
								margin-top: 10px;
							}
						}
					}
				}
			}
		}
		.orange-screen {
			background-color: #e2e2e2;
			padding: 3rem 1rem;
			position: relative;

			.bg-back,
			.bg-front {
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
			}
			.bg-back {
				clip-path: polygon(100% 43%, 91% 60%, 75% 66%, 59% 78%, 41% 81%, 26% 92%, 5% 100%, 100% 100%);
				background-color: rgb(252, 143, 0);
			}
			.bg-front {
				clip-path: polygon(100% 59%, 89% 72%, 74% 72%, 61% 83%, 47% 84%, 38% 93%, 16% 100%, 100% 100%);
				background-color: rgb(252, 101, 0);
			}
			.slide-card-circle,
			.slide-card-linear {
				width: 250px;
				border-radius: 10px;
				position: relative;
				transition: all 0.5s ease-in-out;
				cursor: pointer;
				color: #e2e2e2;
			}
			.slide-card-linear {
				background-color: rgb(149, 99, 214);
				box-shadow: 5px 6px rgba($color: #000000, $alpha: 0.2);
				i {
					position: absolute;
					font-size: 150px;
					top: 23%;
					left: 17%;
				}
				.inner {
					width: 100%;
					background-color: white;

					border-radius: 10px;
					clip-path: inset(0% 0% 0% 100%);
					transition: all 0.5s ease-in-out;
					color: black;
					padding: 2rem 1rem;
				}
				&:hover .inner {
					clip-path: inset(0% 0% 0% 0%);
				}
			}
			.slide-card-circle {
				background-color: rgb(103, 35, 192);
				padding: 0rem 1rem 1rem 1rem;
				clip-path: circle(10% at 19% 20%);
				box-shadow: 5px 6px rgba($color: #000000, $alpha: 0.2);
				color: rgb(14, 14, 14);
				&:hover {
					clip-path: circle(75%);
					background-color: #e2e2e2;
				}
				&:hover span {
					opacity: 0;
				}
				&:not(:hover) > :not(span) {
					opacity: 0;
				}
				span {
					position: absolute;
					color: white;
					font-weight: 600;
					transition: color 0.5s;
					position: relative;
					left: 22px;
					top: 40px;
					i {
						font-size: 20px;
					}
				}
			}
		}
		.page-not-found {
			background-image: url("./assets/images/220876-P1KQR8-846.jpg");
			background-size: cover;
			background-position: 0% 40%;
		}
	}
}
@keyframes slideIn {
	0% {
		left: -100%;
		opacity: 0;
	}
	35% {
		opacity: 0;
	}
	70% {
		opacity: 0.2;
	}
	100% {
		left: 0%;
		opacity: 1;
	}
}
